* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(img/BACKGROUND.jpeg) no-repeat center;
    background-size: cover;
}

.list {
    display: flex;
    transform-style: preserve-3d;
    transform: perspective(1000px);
}

.list .item img {
    width: 150px;
    height: 200px;
    object-fit: cover;
    padding: 10px;
    image-rendering: pixelated;
}

.list .item {
    transition: 0.5s;
    filter: brightness(0);
}

.list .item:hover {
    filter: brightness(1);
    transform: translateZ(100px);
}

/* .list .item:hover + .item */
.list .item:hover + * {
    filter: brightness(0.5);
    transform: translateZ(50px) rotateY(20deg);
}

.list .item:has( + *:hover ) {
    filter: brightness(0.5);
    transform: translateZ(50px) rotateY(-20deg);
}