@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

.mainbox {
  position: relative;
  background: url("GOLDFISH.jpg") right no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.sidebar {
  position: fixed;
  top: 0;
  left: -270px;
  width: 270px;
  height: 100vh;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 7px rgba(255, 255, 255, 0.5);
  transition: all 0.3s ease-in-out;
}

.logo {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo a {
  font-size: 30px;
  font-weight: 500;
  color: white;
}

.sidebar ul {
  list-style: none;
  padding: 20px;
}

.sidebar li {
  font-size: 20px;
  padding: 13px 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.sidebar li i {
  margin-right: 10px;
}

.sidebar li:hover {
  border-left: 3px solid white;
}

.sidebar .socials {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
  font-size: 27px;
}

.sidebar .socials a {
  color: white;
  opacity: 0.6;
  margin: 0 5px;
}

.sidebar .socials a:hover {
  opacity: 1;
}

.checkbox {
  display: none;
}

.checkbox:checked ~ .sidebar {
  left: 0;
}

.btnone i {
  font-size: 25px;
  color: white;
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
  transition: 0.2s;
}

.checkbox:checked ~ .btnone {
  display: none;
}

.btntwo i {
  font-size: 20px;
  color: white;
  position: absolute;
  right: 20px;
  top: 15px;
  cursor: pointer;
  transition: 0.2s;
}

.btnone i:hover {
  transform: scale(1.1);
}

.btntwo i:hover {
  transform: scale(1.1);
}
