@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: azure;
}

.profile {
    max-width: 300px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.profile::before {
    content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 36%;
  width: 100%;
  border-radius: 20px 20px 0 0;
  background-color: rgb(148, 214, 255);
}

.image {
    position: relative;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    background-color: rgb(148, 214, 255);
    padding: 3px;
}

.image .profile-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 3px white solid;
}

.name {
    font-size: 22px;
    font-weight: 500;
}

.occ {
    font-size: 15px;
}

.profile .icon {
    display: flex;
    align-content: center;
    margin-top: 10px;
}

.icon .link {
    text-decoration: none;
    margin: 0 5px;
    color: white;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.profile .buttons {
    margin-top: 14px;
    display: flex;
    align-items: center;
}

.buttons .button {
    border-radius: 50px;
    border: none;
    padding: 7px 25px;
    margin: 0 7px;
    background-color: rgb(148, 214, 255);
    color: white;
    cursor: pointer;
    transition: all 0.2 ease;
}

.buttons .button:hover {
    background-color: rgb(64, 182, 255);
}

.profile .performance {
    display: flex;
    align-items: center;
}

.performance .data {
    display: flex;
    align-items: center;
    color: #333;
    margin-top: 15px;
    padding: 0 20px;
    border-right: 2px solid #ddd;
}

.data i {
    font-size: 15px;
}

.data .num {
    padding-left: 2px;
    font-size: 13px;
}

.data:last-child {
    border-right: none;
}